.messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

@media (min-width: 760px) {
  .messages {
    width: 50vw;
    margin: 0 auto;
  }
}

.scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 16px;
}

.scroll_down {
  position: absolute;
  bottom: 16px;
  right: 40px;
  background: white;
  height: 46px;
  width: 46px;
  border: 1px solid #b3b3b3;
  color: #b3b3b3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
